
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Listado de personas</h4>
    <h4>@ViewBag.ConnectionState</h4>
    @Html.ActionLink("Listado personas", "ListaPersonas")
</div>
